
sample_fsaverage_manual_all327684_fwd.fif
simple_fsaverage_fixed_fwd.fif

CAMCAN_inv.fif
volume_fwd.fif
simple_fsaverage_fixed_fwd.fif
leadfield_nn_rr.mat
invmat.mat
invmat.mat
leadfield_nn_rr.mat
simple_fsaverage_fixed_fwd.fif
surface_simple_CAM_fsaverage_fixed_fwd.fif
test_scripts/evoked-ave.fif
simple_fsaverage_fixed_fwd.fif
test_scripts/CAMCAN_fsaverage_no_scaling_trans.fif
leadfield_nn_rr.mat
leadfield_nn_rr.mat
EEG_pipeline/subjects/fsaverage/bem/fsaverage-5120-5120-5120-bem-sol.fif
EEG_pipeline/subjects/fsaverage/bem/fsaverage-ico-5-src.fif
EEG_pipeline/subjects/fsaverage/bem/fsaverage-vol-5-src.fif
EEG_pipeline/surface_egi_fsaverage_fixed_fwd.fif
EEG_pipeline/surface_egi_fsaverage_fixed_inv.fif
test_scripts/EGI_Brittany_Young/OPRO_REST_20180217_104958.mat
goodchanEGI_pipeline/egi_raw.fif
goodchanEGI_pipeline/surface_egi_fsaverage_fixed_fwd.fif
test_scripts/EEG_processing/DAON/workspace.mat
test_scripts/EEG_processing/DAON/icadata.mat
EEG_streamline/raw.fif
EEG_streamline/preprocessed_eeg.mat
EEG_streamline/fwd.fif
EEG_streamline/inv.fif
EEG_streamline/resting_ave.fif
EEG_streamline_DOAN/fwd.fif
EEG_streamline_DOAN/preprocessed_eeg.mat
EEG_streamline_DOAN/raw.fif
EEG_spacing_ESCH/fwd.fif
EEG_spacing_ESCH/inv.fif
EEG_spacing_ESCH/raw.fif
EEG_spacing_ESCH/resting_ave.fif
EEG_streamline_ESCH/fwd.fif
EEG_streamline_ESCH/inv.fif
EEG_streamline_ESCH/preprocessed_eeg.mat
EEG_streamline_ESCH/raw.fif
EEG_streamline_JOHR/fwd.fif
EEG_streamline_JOHR/inv.fif
EEG_streamline_JOHR/raw.fif
EEG_streamline_JOHR/preprocessed_eeg.mat
EEG_streamline_ESCH/preprocessed_eeg.mat
EEG_streamline_ESCH/raw.fif
EEG_spacing_ESCH/raw.fif
EEG_spacing_ESCH/raw.fif
EEG_spacing_ESCH/preprocessed_eeg.mat
EEG_spacing_DAON/fwd.fif
EEG_spacing_JOHR/fwd.fif
EEG_spacing_JOHR/raw.fif
EEG_streamline_DAON/fwd.fif
EEG_streamline_DAON/raw.fif
EEG_spacing_DAON/raw.fif
EEG_spacing_DAON/preprocessed_eeg.mat
EEG_spacing_JOHR/preprocessed_eeg.mat
EEG_streamline_DAON/preprocessed_eeg.mat
HEAD_model_ESCH/preprocessed_eeg.mat
HEAD_model_ESCH/raw.fif
EEG_spacing_32chan/raw.fif
EEG_spacing_32chan/fwd.fif
EEG_spacing_32chan/20220713_method_MNE_ico_4_scale_0.05_depth_0.8_st.data1.mat
EEG_spacing_32chan/20220713_method_MNE_ico_4_scale_0.05_depth_0.8_st.data2.mat
EEG_spacing_32chan/20220713_method_MNE_ico_4_scale_0.05_depth_0.8_st.data3.mat
EEG_spacing_32chan/20220713_method_MNE_ico_4_scale_0.05_depth_0.8_st.data4.mat
EEG_spacing_32chan/20220713_method_MNE_ico_4_scale_0.05_depth_0.8_st.data5.mat
EEG_32chan_pca/agr_source.mat
EEG_spacing_32chan_R/agr_source.mat
PCA_32chan_AGL/agr_source.mat
EEG_32chan_pca_archived/agr_source.mat
